/Mora-Cordova-Adolfo/lib_bin2png/env_unix
/Mora-Cordova-Adolfo/lib_bin2png/executables
/Mora-Cordova-Adolfo/lib_bin2png/Images
/Mora-Cordova-Adolfo/lib_bin2png/executables
/Mora-Cordova-Adolfo/lib_bin2png/__pycache__
